.cart-menu{
    margin-left: 15px;
    
}
.btn-total{
    background: chocolate;
    border-radius: 20px;
    border: none;
    color: #fff;
    padding: 10px;
    width: 50%;
    font-weight: 600;
    cursor: pointer;
}